@page "/0703ActorsAddressShow"

@using DSS.Models2;

<PageTitle>Actors</PageTitle>
<h1>Actors</h1>
<br />
<table>
    <th>
        <td>First name</td>
        <td>Last name</td>
        <td>Address</td>
        <td>IMDB</td>
        <td>Oscar</td>
        <td>Bafta</td>
        <td></td>
    </th>
    @foreach (Actor act in filmCrew)
    {
        <tr>
            <td>@act.FirstName</td>
            <td>@act.LastName</td>
            <td>@act.Address.Street <br/> 
                @act.Address.PostalCode @act.Address.City <br/> 
                @act.Address.State</td>
            <td>@act.ImdbMark</td>
            <td>@act.NumberOfOscars</td>
            <td>@act.NumberOfBaftas</td>
            <td><button @onclick="Bragging">Say</button></td>
        </tr>
    }
</table>
<br />
<button @onclick="AverageIMDB">Average IMDB</button>
<br />
@if (showResult)
{
    <p> Average IMDB is: @avgIMDB </p>
}
<br/>
@message

@code {
    private bool showResult = false;

    private double avgIMDB;

    private string message = "";

    private Actor[] filmCrew = new Actor[3];

    protected override async Task OnInitializedAsync()
    {
        filmCrew[0] = new Actor()
        {
            FirstName = "John",
            LastName = "Goodman",
            ImdbMark = 9.7,
            NumberOfOscars = 1,
            Address = new PostalAddress(){
                Street = "Sunset Boulevard 34"
            } 
        };
        filmCrew[1] = new Actor()
        {
            LastName = "Costner",
            ImdbMark = 9.3,
            FirstName = "Kevin",
            Address = new PostalAddress()
        };
        filmCrew[2] = new Actor()
        {
            LastName = "De Niro",
            ImdbMark = 9.4,
            FirstName = "Robert",
            Address = new PostalAddress()
        };
        await Task.Run(() => filmCrew[0].ImdbMark = filmCrew[0].ImdbMark+0  );
    }

    private void Bragging(){
        message = filmCrew[0].Bragging();
    }

    private void AverageIMDB()
    {
        showResult = true;
        double sum = 0;
        foreach (Actor a in filmCrew)
            sum += a.ImdbMark;
        avgIMDB = sum / filmCrew.Length;
    }
}
